*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: #000016;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;align-items: center;
    padding: 10px 80px;
}
.logo{
    text-decoration: none;
    color: orange;
    font-weight: 300;
    font-size: 1.6em;
}
.logo span{
    font-size: 30px;
    font-weight: 450px;
    color:yellow;
}
.navigation a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 10px;
    transition: 0.7s ease;
    font-style: italic;

}
.navigation a:hover{
    color:orange;
    font-size: 1.6em;
    transform: scale(1.1);
    font-weight: 600;
    text-decoration:underline;

}

section{
    padding: 100px 200px;   

}
.main{
    width: 100%;
    display: flex;
    align-items: center;
    background: url(images/home-bg-3.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;

}
.main h2{
    color: #fff;
    font-size: 1.3em;
    font-weight: 650;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: orange;
    font-size: 2.3em;
    font-weight: 780;
}
.main h3{
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-but{
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;

}
.main-but:hover{
    background-color: #0a49f6;
    transform: scale(1.1);
}
.title{
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 1.9em;
    font-weight: 700;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: #fff;
    width: 10em;
    height: 300px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color: #3a6cf4;
    font-size: 7em;
    text-align: center;

}
.icon img{
    width: 80px;
}

.icon-2 img{
    width: 100px;
}


.card-2{
    background-color: #fff;
    width: 10em;
    height: 300px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease; 
}
.card-2:hover{
    transform: scale(1.1);
}


.info{
    text-align: center;
}
.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 600;
    margin: 10px;

}

.projects{
    background-color: #000016;
}
.projects .content{
    margin-top: 30px;
}
.project-card{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    min-height: 14em;
    width: 10em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;

}
.project-card:hover{
    transform: scale(1.1);
}
.project-image img{
    width: 100%;
    min-height: 11em;


}
.project-card:hover .project-image{
    opacity: 0.9;

}


.project-info{
    padding: 1em;

}
.project-category{
    font-size: 0.8em;
    color: #000;

}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
}
.more-details{
    text-decoration: none;
    color: #3a6cf4;
}
.more-details:hover{
    color: #601cfc;
}
.foter{
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: center;
}
.foter span{
    color: orange;
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.3em;
    }
    section{
        padding: 80px 20px;
    }
    .mine-content h2{
        font-size: 1em;
    }
    .mine-content h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    .icon-2 img{
        padding-right: 35px;
        
    }
    .icon img{
        padding-right: 20px;
    }
    .main{
        background: url(images/trainer-1.jpg) no-repeat;
        background-size: cover;
    }
    .logo span{
        color:#3a6cf4 ;
        
    }
    .main h2 span{
        color: #3a6cf4 ;
    }
    .navigation a:hover{
        color:#3a6cf4 ;
    }
}
@media (max-width:641px){
    body{
        font-size: 11px;
    }
    .mine-content h2{
         font-size: 0.6em;
    }
    .mine-content h3{
        font-size: 1.1em;
    }
}
@media (max-width:300px){
    body{
        font-size: 9px;

    }
    
}